@use './../../common/variables' as var;
@use './../../common/extends' as *;

.services {
  &__service {
    display: flex;
    color: white;
    gap: 30px;
    flex-direction: column;
  }

  &__link {
    text-transform: uppercase;
    font-size: var.$fs-sm;
    font-weight: var.$fw-bold;
    color: var.$main-color;
  }


  &__icon span {
    display: inline-block;
    padding: 10px;
    border-radius: 10px;
    background-color: white;
  }

  &__title h4 {
    color: #24A3FF;
    font-size: 22px;
    font-weight: 700;
    margin: 0;
  }

  &__description {
    font-size: 16px;
    font-weight: 400;
  }
}
