.footer {

  @media (max-width: 768px){
    &__general {
      flex-direction: column!important;
      align-items: center!important;
    }
    &__location {
      justify-content: center!important;
    }

  }

  @media (max-width: 392px){

    &__wrapper {
      flex-direction: column!important;
    }
    &__location {
      flex-direction: column!important;
      align-items: center!important;

    }
  }
}