@use './../../common/variables' as var;
.header {
  &-top {
    padding: 5px 0;

    .telephone-icon{
      max-width: 24px;
    }
  }
  .bi-telephone {
    padding-right: 12px;

  }
   .nav-link{
     color: var.$color-text-main;
     font-size: var.$fs-sm;
     font-weight: var.$fw-regular;
   }
  .navbar-brand{
    width: 100%;
    max-width: 262px;
    height: 56px;
    padding-right: 15px;
  }
  &-bottom {
    .list-unstyled {
      gap: 12px;

    }
    &__icon {
      width: 24px;
      height: 24px;
    }
  }

}