@use "./../../common/variables"as var;

.footer {
  padding-top: 42px;
  padding-bottom: 22px;
  background-color: var.$bg-color-footer;

  .address {
    color: var.$color-text-footer;
  }

  .icon-color {
    color: var.$bg-color-btn;
  }

  &__list {
    list-style-type: none;
  }

  &__list a {
    font-size: var.$fs-xs;
    font-weight: var.$fw-regular;
    font-style: normal;
    line-height: 18px;
    color: var.$color-text-footer;
  }

  &__title {
    font-size: var.$fs-md;
    font-weight: var.$fw-bold;
    font-style: normal;
    line-height: 22px;
    color: var.$bg-color-btn;
  }
}