@use "./../../common/variables"as var;
.footer {
  padding-top: 42px;
  padding-bottom: 22px;
  background-color: var.$bg-color-footer;
  .address {
    color: var.$color-text-footer;
  }
  .icon-color {
    color: var.$bg-color-btn;
  }
}