@use './../../common/variables' as var;

.controls{
  &__search {
    padding-left: 22px;
    [type=submit] {
      top: 13px;
      right: 10px;
    }
    &_form{
      border-radius: 54px;
      height: 56px;
      border-color: var.$bg-color-main;
      padding-left: 40px;
      padding-right: 70px;
    [placeholder]{
      padding-left: 20px;
    }
    }
  }
  &__display {
    width: 100%;
  }
  .button-display {
    width: 100%;
    //text-align: start;
    border-radius: 40px;
    padding:16px 25px;
    font-size: var.$fs-sm;
    font-style: normal;
    font-weight: var.$fw-regular;
    }
  .dropdown-toggle::after {
    margin-left: 77px;
  }
}