%bg_no_repeat__center {
  background-repeat: no-repeat;
  background-position: center center;
}

%gradient_color_text {
  background:  linear-gradient(90deg, #F0145A 0.84%, #EF8080 99.96%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}