$color-text-basic: #FFFFFF;
$color-text-grey: #B3B3BA;
$main-color: #24A3FF;
$main-blue-color: #323264;
$color-bg-grey: #F5F5FA;
$header_height: 150px;

$fw-bold: 700;
$fw-regular: 400;
$fs-xs: 12px;
$fs-sm: 14px;
$fs-md: 16px;
$fs-lg: 35px;
