@use "./variables" as var;

body {
  background-color: var.$bg-color-main;
  font-family: var.$font-family-main, sans-serif;
  font-size: var.$fs-xs;
  font-weight: var.$fw-regular;

  a {
    color: var.$color-text-main;
    text-decoration: none;
  }
}
h1{
  font-size: var.$fs-lg;
  font-weight: var.$fw-bold;
  line-height: 30px;
}