$main-text-color: #17181A;
$color-link: #73962C;
$color-text-accordiontitle: #2268B4;
$color-text-footer: #BDBDBE;
$bg-color-main: #F4F4F4;
$bg-color-btn: #FFF;
$bg-color-footer: #26282C;
$font-family-main: lato;
$fw-bold: 700;
$fw-regular: 400;
$fw-black: 900;
$fs-xs: 13px;
$fs-sm: 15px;
$fs-md: 17px;
$fs-lg: 28px;
$duration: .3s;